# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
*.pid
*.seed
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/

# Misc
*.swp
*~

# Ignore secrets
.env 