services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: python facial_recognition_system/manage.py runserver 0.0.0.0:8053
    volumes:
      - .:/usr/src/app
    ports:
      - "8053:8053"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped 